html{
    background-color: black;
    color: white;
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}
#mail{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}
#mail-logo{
    width: 2rem;
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}


ul{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

li{
    list-style: none;
}

p{
    line-height: 1.5rem;
}

img{
    border-radius: 4%;
    max-width: 20%;
}

.experience{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}